<h1 class="page-title">Resultados Allure para Diario AS</h1>
<div class="wrapper">
    <ul class="listing">

        <li class="container1" onclick="location.href = 'reports/as/digital/chrome-desktop/allure/index.html';">
            <div>
                <img class="logo-app" src="images/logo-allure.png">
                <img class="logo-app" src="images/logo-chrome.png">
                <img class="logo-app" src="images/logo-desktop.png">
            </div>
            <h2 class="container-title">Digital - Desktop</h2>
            <p class="container-text">Google Chrome</p>
        </li>

        <li class="container2 desactivado">
            <div>
                <img class="logo-app" src="images/logo-allure.png">
                <img class="logo-app" src="images/logo-safari.png">
                <img class="logo-app" src="images/logo-desktop.png">
            </div>
            <h2 class="container-title">Digital - Desktop</h2>
            <p class="container-text">Apple Safari</p>
        </li>

        <li class="container3" onclick="location.href = 'reports/as/digital/chrome-mobile/allure/index.html';">
            <div>
                <img class="logo-app" src="images/logo-allure.png">
                <img class="logo-app" src="images/logo-chrome.png">
                <img class="logo-app" src="images/logo-movil.png">
            </div>
            <h2 class="container-title">Digital - Mobile</h2>
            <p class="container-text">Google Chrome</p>
        </li>

        <li class="container4 desactivado">
            <div>
                <img class="logo-app" src="images/logo-allure.png">
                <img class="logo-app" src="images/logo-safari.png">
                <img class="logo-app" src="images/logo-movil.png">
            </div>
            <h2 class="container-title">Digital - Mobile</h2>
            <p class="container-text">Apple Safari</p>
        </li>

        <li class="container5" onclick="location.href = 'reports/as/movilidad/android/allure/index.html';">
            <div>
                <img class="logo-app" src="images/logo-allure.png">
                <img class="logo-app" src="images/logo-android.png">
                <img class="logo-app" src="images/logo-pixel.png">
            </div>
            <h2 class="container-title">APP - Android</h2>
            <p class="container-text">Google Pixel</p>
        </li>

        <li class="container6 desactivado">
            <div>
                <img class="logo-app" src="images/logo-allure.png">
                <img class="logo-app" src="images/logo-iphone.png">
            </div>
            <h2 class="container-title">APP - iOS</h2>
            <p class="container-text">iPhone</p>
        </li>
    </ul>
    <br>
</div>